* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    background-color: #fffef9;
    background-image: url(../img/bg-bottom.png), linear-gradient(to top, #ffffff 0%, #fff9df 100%);
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: center bottom, top left;
    
    padding-bottom: 150px;
    background-size: 120% auto;
    position: relative;
}

.cloud-1 {
    display: none;
}

.cloud-1:hover {
    animation: slide .2s infinite linear;
}

@keyframes slide {
    to {
        transform: skew(-0deg, 0deg);
    }
    25% {
        transform: skew(-5deg, 5deg);
    }
    35% {
        transform: skew(-10deg, 10deg);
    }
    45% {
        transform: skew(-15deg, 15deg);
    }
    55% {
        transform: skew(-20deg, 20deg);
    }
    70% {
        transform: skew(-15deg, 15deg);
    }
    80% {
        transform: skew(-10deg, 10deg);
    }
    90% {
        transform: skew(-5deg, 5deg);
    }

    to {
        transform: skew(-0deg, 0deg);
    }
}

.cloud-2 {
    display: none;
}

.cloud-2:hover {
    animation: slide .2s infinite linear;
}

.tagline {
    color: #0d3e60;
    font-size: 16px;
    font-weight: 400;
    line-height: 42.2px;
    height: 44px;
    background-color: #fff;
    box-shadow: 4px 7px 7px rgba(41, 36, 17, 0.06);
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 24px;
    position: absolute;
    top: -75px;
    left: -46px;
    width: 276px;

}

.tagline span {
    font-weight: 700;
}

.tagline::after {
    content: "";
    left: 57px;
    bottom: 0;
    position: absolute;
    display: block;
    border: 8px solid transparent;
    border-top: 10px solid #fff;
    transform: translateY(100%);

}

.tagline strong {
    font-weight: 700;
}

.logo-wrapper {
   display: flex;
   margin-bottom: 35px;
   position: relative;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;

}

.logo {
    margin-bottom: 25px;
    position: relative;
}

.promise-counter__icon {
 margin-bottom: 8px;
 text-align: center;
}

.promise-counter__number {
    color: #0d3e60;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
}

.promise-counter__desc {
    color: #0d3e60;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.25px;
}


.header-content {
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
}

.header-content__icon-mail {
    margin-bottom: 35px;
}

.header__invite {
    color: #eb5238;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 21px;
}

.header__title {
    color: #0d3e60;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

.header-names {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    position: relative;

    flex-direction: column;
}

.header-names__name {
    color: #eb5238;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
}

.header-names__email {
    color: #0d3e60;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
}

.header-names--button {
    position: relative;
   
    width: 60px;
    height: 60px;
    background-size: 30px auto;
    background-color: #ed543a;
    border-radius: 60px;
    background-image: url('../img/heart.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) 
}



.header-names--button::after {
    content: "+";

    width: 18px;
    height: 18px;
    background-color: #ffcc36;
    border-radius: 20px;
    position: absolute;
  
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 100%);

    /* Style for "+" */
    color: #ffffff;
 
    font-size: 20px;
    font-weight: 300;
    
    line-height: 23px;
    text-align: center;
}

.header-names--left {
    text-align: center;
    padding-top: 10px;
}


.header-names--right {
    text-align: center;
    padding-top: 10px;
    padding-top: 100px;
}



.scroll__desc {
    color: #0d3e60;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.06px;
    text-align: center;
   
    margin-bottom: 32px;
}


.scroll-bg {
    max-width: 751px;
    height: 122px;
    background-color: #fff9df;
    position: relative;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.scroll-bg::before {
        content: "";
        width: 73px;
        height: 174px;
        display: block;
        position: absolute;
        left: -23px;
        top: -28px;
        background-image: url('../img/scroll-left.png');
        background-repeat: no-repeat;
        background-position: center;

}

.scroll-bg::after {
    content: "";
    width: 73px;
    height: 174px;
    display: block;
    position: absolute;
    right: -23px;
    top: -28px;
    background-image: url('../img/scroll-right.png');
    background-repeat: no-repeat;
    background-position: center;

}

.scroll__title {
    text-align: center;
    color: #8d8b80;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.06px;

}

.link-circle {
    bottom: 0;
    left: 50%;
    display: block;
    transform: translate(-50%, 50%);
    border-radius: 50px;
    width: 81px;
    height: 81px;
    background-color: rgba(235, 82,56, 0.2);
    position: absolute;
    transition: .2s linear;
}

.link-circle:hover {
    background-color: rgba(231, 69, 40, 0.519);  
}

.link-circle__inner {
    display: block;
    width: 55px;
    height: 55px;
    background-color: rgba(235, 82, 52, 1);
    border-radius: 50px;
    z-index: 2;
    position: relative;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 13px;
    top: 13px;
  
}




.further-information--wrapper {  
    padding-top: 65px;
    padding-bottom: 35px;
    padding-bottom: 15px;

}

.further-information__content {
    
    margin-left: auto;

    opacity: 0.86;
    color: rgba(13, 61, 96, 0.86);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.further-information__content p {
    margin-bottom: 25px;
}

.title-2 {
    color: #0d3e60;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 35px;
    margin-top: 0;
}

.cheklist {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    margin-bottom: 60px;
    list-style: none;
}

.cheklist li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 47px;
}

.cheklist li:before {
    content: '';
    left: 0;
    top: 10px;
    display: block;
    width: 32px;
    height: 29px;
    background-image: url('../img/tick.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.name-disc {
    color: #0d3e60;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.input {
    
  
    height: 51px;
    border-radius: 19px;
    background-color: #fff9df;
    background-image: linear-gradient(to top, #fff9df 0%, #fffdf4 100%);
    border: none;
    color: #2e435e;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 5px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.input:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #2e435e;
    ;
  }
::-moz-placeholder { /* Firefox 19+ */
    color: #2e435e;
  }
:-ms-input-placeholder { /* IE 10+ */
    color: #2e435e;
  }
:-moz-placeholder { /* Firefox 18- */
    color: #2e435e;
  }

.chekbox-description {
    color: #0d3e60;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
} 

.chekbox-description a {
    color: #0d3e60;
    font-family: "Poppins - Bold";
font-weight: 700;
text-decoration: underline; 
}

.submit {
    width: 216px;
    height: 52px;
    border-radius: 20px;
    background-color: #eb5238;
    background-image: linear-gradient(to top, #eb5238 0%, #eb6f38 100%);
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 27px;
    margin-bottom: 15px;
}

.submit:hover {
    background-image: linear-gradient(to top, #eb6f38 0%, #eb5238 100%);

}

.submit:focus {
    outline: none;
}

.form-notice {
    font-size: 14px;
    line-height: 24px;
    color: #0d3e60;
    font-family: "Poppins - Regular";
    font-weight: 400;
 
}

.form-notice a {
    color: #eb5238;
   font-weight: 700;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;


}

.form-label {
    cursor: pointer;
}

.chekbox {
    display: none;
}

.chekbox:checked + .checkbox-css::after {
    width: 11px;
    height: 11px;
}

.checkbox-css {
    display: inline-block;
    margin-right: 10px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    box-shadow: 2px 2px 0 rgba(14, 15, 33, 0.07);
    border: 1px solid rgba(194, 194, 194, 0.4);
    background-color: #ffffff;
    vertical-align: middle;
    position: relative;
}

.checkbox-css:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: #eb5238;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: .2s ease-in;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.about-wrapper {
    padding-top: 65px;
    padding-top: 0;
    position: relative;
    overflow: hidden;
}

.about-wrapper::after {
    position: absolute;
    right: -270px;
    top: 0;
    display: block;
    content: "";
    width: 612px;
    height: 518px;
    background-image: url('../img/bg-illustration-klaksa.svg');
    background-repeat: no-repeat;
    background-position: right top;
    z-index: -1;
}

.about-cards {
    
    display: flex;
    justify-content: space-between;
    order: 2;
    flex-direction: column;
    padding-left: 40px;
}


.about-content {
    color: #0d3e60;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    order: 1;
    margin-bottom: 50px;
}

.about-content p {
    margin-bottom: 36px;
}

.title-special {
    color: #eb563d;
    margin-bottom: 30px;
}

.about-toggle-wrapper {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    
}
.about__toggle {
    width: 165px;
    height: 46px;
    border-radius: 20px;
    background-color: #fff9df;
    line-height: 46px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    color: #2e435e;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: .2s ease-in;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.about__toggle:hover {
    background-color: #ff8e39;
    color: #fff;
    
}

.card {
    width: 210px;
    height: 300px;
    box-shadow: 6px 9px 35px rgba(25, 40, 66, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 65px 30px 35px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #2e435e;
    margin-bottom: 61px;
    
}

.card:hover {
    box-shadow: 4px 7px 32px rgba(235, 90, 56, 0.52);
    background-color: #eb5238;
    background-image: linear-gradient(to top, #eb5238 0%, #eb6f38 100%);
    color: #fff;
}

.card:hover .card-circle {
    background-color: rgba(255, 255, 255, 0.2);
}

.card:hover .card-circle-inner {
    background-color: rgba(255, 255, 255, 1);
}

.card:hover .svg-icon-path {
    fill: #0d3e60;
}

.card:hover .go-btn-svg {
    fill: #fff;
}

.card:hover .card__read-more a {
    left: 130px;
}

.card:hover .card__read-more-text {
    opacity: 1;
}

.card__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 35px;
}

.card__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.card__read-more {
    margin-top: auto;
    position: relative;
    display: flex;
    height: 20px;
}

.card__read-more-link {
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.card__read-more-text {
    top: 0;
    left: 0;
    display: inline-block;
    width: 100px;
    transform: translateX(-100%);
    text-align: right;
    padding-right: 15px;
    position: absolute;
    opacity: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}



.card-circle {
    top: 0;
    left: 0;
    display: block;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    width: 76px;
    height: 76px;
    background-color: rgba(235, 82,56, .2);
    position: absolute;
}

.card-circle-inner {
    left: 7px;
    top: 7px;
    display: block;
    width: 62px;
    height: 62px;
    background-color: rgba(235, 82, 52);
    border-radius: 50px;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding-top: 55px;
    padding-top: 0;
    padding-bottom: 35px;
   
}



.footer__copyright {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

    flex-direction: column;
    width: 100%;

  
}

.footer__copyright-logo {
    margin-right: 17px;
}

.footer__copyright-text {
    color: #2e435e;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.footer__navigation {
    

    align-items: flex-start;
}

.footer__navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}

.footer__navigation-list li {
    margin-right: 33px;
    margin-bottom: 10px;
 
}

.footer__navigation-list li a {
    color: #2e435e;
    font-size: 16px;
    font-weight: 700;
    line-height: 30.42px;
    text-decoration: none;
    transition: .2s ease-in;
    
}

.footer__navigation-list li a:hover {
    color: #eb563d;
}

.footer__navigation-list li:last-child {
    margin-right: 0;
}

.align-center {
    display: flex;
    align-items: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    align-items: flex-start;
}

.about-content__item {
    display: none;
}

.isActive {
    display: block;
  
}

.about__toggle.isActive {
    background-color: #ff8e39;
    color: #fff;
}
